.gpbutton {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: middle;
  min-width: 125px;
  zoom: 1;
  padding: 13px 28px;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
.gpbutton.gp-green {
  background-color: #80C261;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #80C261), color-stop(100%, #65AC43));
  background: -webkit-linear-gradient(#80C261, #65AC43);
  background: -moz-linear-gradient(#80C261, #65AC43);
  background: -o-linear-gradient(#80C261, #65AC43);
  background: linear-gradient(#80C261, #65AC43); }
  .gpbutton.gp-green:hover {
    color: #fff;
    text-decoration: none;
    background-color: #65AC43;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #65AC43), color-stop(100%, #58973B));
    background: -webkit-linear-gradient(#65AC43, #58973B);
    background: -moz-linear-gradient(#65AC43, #58973B);
    background: -o-linear-gradient(#65AC43, #58973B);
    background: linear-gradient(to bottom, #65AC43, #58973B) repeat scroll 0% 0%; }
.gpbutton.gp-gray, .button.gp-gray {
  color: #1C1C1C !important;
  background-color: #A1A1A1;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #A1A1A1), color-stop(100%, #B5B5B5));
  background: -webkit-linear-gradient(#A1A1A1, #B5B5B5);
  background: -moz-linear-gradient(#A1A1A1, #B5B5B5);
  background: -o-linear-gradient(#A1A1A1, #B5B5B5);
  background: linear-gradient(to bottom, #A1A1A1, #B5B5B5) repeat scroll 0% 0%;
  margin-right: 0px;
  text-shadow: none; }
  .gpbutton.gp-gray:hover, .button.gp-gray:hover {
    text-decoration: none;
    color: #666;
    background-color: #BFBFBF;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #BFBFBF), color-stop(100%, #C2C2C2));
    background: -webkit-linear-gradient(#BFBFBF, #C2C2C2);
    background: -moz-linear-gradient(#BFBFBF, #C2C2C2);
    background: -o-linear-gradient(#BFBFBF, #C2C2C2);
    background: linear-gradient(to bottom, #BFBFBF, #C2C2C2) repeat scroll 0% 0%; }
  .gpbutton.gp-blue {
    color: #fff;
    background-color: #7AB2FF;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #70ACFF), color-stop(100%, #4794FF));
    background: -webkit-linear-gradient(#7AB2FF, #4794FF);
    background: -moz-linear-gradient(#7AB2FF, #4794FF);
    background: -o-linear-gradient(#7AB2FF, #4794FF);
    background: linear-gradient(to bottom, #7AB2FF, #4794FF) repeat scroll 0% 0%;
    margin-right: 0px;
    text-shadow: none; }
  .gpbutton.gp-blue:hover {
    text-decoration: none;
    color: #fff;
    background-color: #6AA2D7;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6AA2D7), color-stop(100%, #3178B9));
    background: -webkit-linear-gradient(#6AA2D7, #3178B9);
    background: -moz-linear-gradient(#6AA2D7, #3178B9);
    background: -o-linear-gradient(#6AA2D7, #3178B9);
    background: linear-gradient(to bottom, #6AA2D7, #3178B9) repeat scroll 0% 0%; }
  .button.btn-green {
    background-color: #74BC52;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #65AC43), color-stop(100%, #58973B));
    background: -webkit-linear-gradient(#65AC43, #58973B);
    background: -moz-linear-gradient(#65AC43, #58973B);
    background: -o-linear-gradient(#65AC43, #58973B);
    background: linear-gradient(#65AC43, #58973B); }
  .button.btn-green:hover {
    text-decoration: none;
    background-color: #65AD43;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5EA23F), color-stop(100%, #4D8433));
    background: -webkit-linear-gradient(#5EA23F, #4D8433);
    background: -moz-linear-gradient(#5EA23F, #4D8433);
    background: -o-linear-gradient(#5EA23F, #4D8433);
    background: linear-gradient(#5EA23F, #4D8433); }
  .button:hover {
    text-decoration: none;
    background-color: #578CFF;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #578CFF), color-stop(100%, #0058CC));
    background: -webkit-linear-gradient(#578CFF, #0058CC);
    background: -moz-linear-gradient(#578CFF, #0058CC);
    background: -o-linear-gradient(#578CFF, #0058CC);
    background: linear-gradient(to bottom, #578CFF, #0058CC) repeat scroll 0% 0%; }
  .gpbutton.gp-green:active, .gpbutton.gp-blue:active,
  .gpbutton.gp-gray:active, .button.btn-green:active {
    text-decoration: none;
    box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.29);
    color: #fff; }

  .gpbutton.gpbtn-small {
      padding: 10px 33px;
      font-size: 14px;
      font-weight: 500; }
  .button {
    min-width: 125px; }
  .button.button-medium {
    border: 1px solid #68A2EE; }
  .button.btn-green {
    border: 1px solid #2ABE13; }
  .button.gp-gray {
    border: 1px solid #A1A1A1;
    padding: 10px 20px; }
  .button-outline {
    padding: 13px 32px; }
  .button-outline:hover {
    text-decoration: none;
    color: #fff;
    border-color: #9E9E9E; }
  .faq-btn, .faq-btn-purch {
    font-size: 14px;
    font-weight: 600; }
  .faq-btn { width: 356px;
    padding-left: 15px;
    padding-right: 15px; }
  .faq-btn-purch {
    min-width: 146px;
    text-align: center; }
  .gpbtn-mktplace {
    margin-right: 0px;
    text-align: center;
    padding: 13px 25px;  }

  .gpbutton.gpbtn {
      margin-right: 40px;
      margin-bottom: 0px; }
  @media (max-width: 460px) {
    .gpbutton.gpbtn {
      margin-right: 20px;
      margin-bottom: 0px;} }
  @media (max-width: 400px) {
    .gpbutton.gpbtn {
      margin-right: 10px;
      margin-bottom: 0px;} }
  @media (max-width: 363px) {
    .gpbutton.gpbtn {
      margin-right: 0px;
      margin-bottom: 0px;} }
  @media (max-width: 360px) {
    #home4 #mobile .info {
      margin-top: 40px; }
    .gpbtn-mktplace {
      font-size: 14px;
      line-height: 18px; }
    .gpbutton.gpbtn {
      margin-bottom: 0px;
      margin-right: 0px; } }
  @media (max-width: 353px) {
    .gpbutton.gpbtn {
      margin-bottom: 30px;
      margin-right: 0px; } }
  @media (max-width: 640px) {
    .gpbtn-mktplace {
      margin-right: 0px; } }