.navbar-brand.bbb {
  font-family: Lato, sans-serif; }
.navbar-brand span.b3 {
  font-weight: 300; }
.navbar-brand span.b1 {
  font-weight: 700; }
.navbar-brand span.b2 {
  font-weight: 500; }
.navbar.normal .navbar-header .navbar-brand {
  margin-right: 10px; }
  @media (max-width: 767px) {
    .navbar.normal .navbar-header .navbar-brand {
      font-size: 20px; }
    .navbar.normal {
      min-height: 65px; }
    .navbar-toggle {
      margin-bottom: 15px; } }
.navbar.normal .navbar-collapse .navbar-nav > li > a.signup {
  border: 0; /*1px solid #4A5B0B;*/
  border-radius: 5px;
  padding: 8px 11px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin: 18px 15px 10px;
  min-width: 100px;
  font-weight: 500;
  zoom: 1;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.3);
  background-color: #65AC43;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #65AC43), color-stop(100%, #5C9E3D));
  background: -webkit-linear-gradient(#65AC43, #5C9E3D);
  background: -moz-linear-gradient(#65AC43, #5C9E3D);
  background: -o-linear-gradient(#65AC43, #5C9E3D);
  background: linear-gradient(#65AC43, #5C9E3D);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
.navbar.normal .navbar-collapse .navbar-nav > li > a.signup:hover {
  text-decoration: none;
  background-color: #77BD56;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77BD56), color-stop(100%, #67B045));
  background: -webkit-linear-gradient(#77BD56, #67B045);
  background: -moz-linear-gradient(#77BD56, #67B045);
  background: -o-linear-gradient(#77BD56, #67B045);
  background: linear-gradient(to bottom, #77BD56, #67B045) repeat scroll 0% 0%; }
.navbar.normal .navbar-collapse .navbar-nav > li > a {
  padding: 25px 15px; }
.navbar.normal .bs-navbar-collapse .navbar-nav > li > a {
  padding: 20px 15px; }
.navbar-brand>img {
  margin-top: -10px; /* 15px;*/
  max-width: 30%;
  margin-right: 12px;
  padding: 0;
  height: 43px; }
  @media (max-width: 767px) {
    .navbar-brand>img {
      height: 38px; }
    #gpscr #hero {
      max-height: 526px; } }
#gpscr #hero h1.hero-text {
    font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
    line-height: 42px;
    text-align: left;
    font-size: 37px;
    margin-top: 15px;
    /* text-transform: uppercase; */
    font-weight: 600;
    letter-spacing: .3px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-animation-duration: 1s; }
    #gpscr h1 a {
      text-decoration: none;
      color: #EEFBE0; }
    #gpscr h1 a:hover {
      color: #57E557; }
    @media (max-width: 767px) {
      #gpscr #hero h1.hero-text {
        font-size: 25px;
        line-height: 30px; } }
  #gpscr #hero .sub-text {
    -webkit-font-smoothing: antialiased;
    margin-top: 10px;
    font-family: "Lato", "Helvetica Neue", Arial;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-animation-duration: 1s; }
  #gpscr #hero ul.sub-text {
    margin-bottom: 15px; }
  #gpscr #hero ul.sub-text li {
    margin: 8px 0; }
    @media (max-width: 991px) {
      #gpscr #hero .sub-text {
        width: 98%;
        line-height: 20px;
        margin-top: 10px;
        margin-bottom: 15px; } }
    @media (max-width: 767px) {
      #gpscr #hero .sub-text {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 18px;
        line-height: 18px; } }
  #gpscr #hero .cta {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    animation-delay: 0.6s;
    margin-top: 60px; }
    @media (max-width: 767px) {
      #gpscr #hero .cta {
        text-align: center; } }
    #gpscr #hero .cta a {
      margin-right: 20px;
      padding: 15px 31px; }
      @media (max-width: 767px) {
        #gpscr #hero .cta a {
          font-size: 14px;
          padding: 12px 25px;
          margin: 0px 15px 15px 0px; } }
  #gpscr #hero .screenshot {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px; }
    #gpscr #hero .screenshot img {
      float: right; }
      @media (min-width: 975px) {
        #gpscr #hero .screenshot img {
          clear: both;
          width: 85%;
          max-height: 290px;
          max-width: 884px !important;
          margin: 0 auto; } }
      @media (max-width: 974px) {
        #gpscr #hero .screenshot img {
          max-height: 245px;
          width: 75%; }
        #gpscr #hero .center-obj {
          display: table;
          margin: 0px auto; } }
      @media (max-width: 954px) {
        #gpscr #hero .center-obj {
          margin-left: 200px; } }

#home4 #hero {
  top: 60px;
  background: #FFFFFF url("../../images/bbb/git-plugin-overview-bgx2.png") no-repeat scroll 0% 0% / cover;
  height: 556px;
  padding-top: 25px;
  /*position: relative;
  top: -60px;
  overflow: hidden;
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.35); */ }
  @media (min-width: 1920px) {
    #home4 #gpscr #hero {
      background-size: 115%;
      height: 940px; }
    #gpscr #hero h1.hero-text {
      font-size: 44px;
      margin-left: 0px; }
    #gpscr #hero .sub-text {
      font-size: 32px;
      margin-top: 40px;
      line-height: 46px;
      margin-left: 0px; }
    #gpscr #hero .gpbutton.gpbtn-small {
      margin-top: 40px;
      padding: 15px 44px;
      margin-left: 0;
      font-size: 28px; }
    #gpscr #hero .btn-grp {
      margin-top: 70px; } }
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
  only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
  only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
  only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
  only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
  only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) {
    #home4 #gpscr #hero {
      background: #FFFFFF url("../../images/bbb/git-plugin-overview-bgx2.png") no-repeat scroll 0% 0% / cover;
    } }
@media (max-width: 768px) {
  #gpscr #hero {
    height: 480px;
    background-size: 180%; } }
@media (max-width: 640px) {
  #gpscr #hero {
    height: 385px;
    background-size: 150%; }
  #gpscr #hero .center-obj {
    margin-left: 170px; }
  #gpscr #hero .gpbutton.gpbtn-small {
    padding: 4px 24px; }
  #gpscr #hero h1.hero-text {
    margin-top: 0px;
    margin-left: -5px; }
  #gpscr #hero .sub-text {
    margin-left: -17px;
    font-size: 14px; } }
@media (max-width: 600px) {
  #gpscr #hero .center-obj {
    margin-left: 155px; }
  #gpscr #hero {
    height: 370px;
    background-size: 180%; }
  #gpscr #hero h1.hero-text {
    margin-left: -10px;
    font-size: 20px; } }
@media (max-width: 480px) {
  #home4 #hero {
    height: 345px;
    background-size: 195%; }
  #gpscr #hero .center-obj {
    margin-left: 140px; }
  #gpscr #hero h1.hero-text {
    font-size: 20px;
    margin-left: -10px; }
  #gpscr #hero .sub-text {
    width: 100%; } }
@media (max-width: 420px) {
  #gpscr #hero {
    height: 300px;
    background-size: 200%; }
  #gpscr #hero .screenshot {
    display: none; }
  #gpscr #hero .gpbutton.gpbtn-small {
    padding: 10px 33px; }
  #gpscr #hero h1.hero-text {
    font-size: 22px;
    margin-top: 7px;
    margin-left: 10px;
    width: 95%; }
  #gpscr #hero .sub-text {
    margin-top: 12px;
    margin-left: -5px;
    font-size: 14px; } }
@media (max-width: 360px) {
  #gpscr #hero {
    height: 350px;
    background-size: 270%; }
  #gpscr #hero h1.hero-text {
    font-size: 20px;
    margin-top: 7px; }
  #gpscr #hero .sub-text {
    font-size: 14px;
    width: 95%; }
  #gpscr #hero .gpbutton.gpbtn-small {
    padding: 4px 24px;
    margin-left: 15px; } }

@media (max-width: 320px) {
  #gpscr #hero {
    height: 340px;
    background-size: 240%;
    min-width: 320px; }
  #gpscr #hero .center-obj {
    margin-left: 120px; }
  #gpscr #hero h1.hero-text {
    font-size: 20px;
    margin-top: 5px; }
  #gpscr #hero .sub-text {
    font-size: 14px; }
  #gpscr #hero .gpbutton.gpbtn-small {
    margin-left: 5px;
    padding: 10px 33px; } }

#home2 #hero .slides .slide.firsts .info p,
#home2 #hero .slides .slide.seconds .info p,
#home2 #hero .slides .slide.third .info p,
#home2 #hero .slides .slide.fourth .info p {
        color: rgba(255, 255, 255, 0.94);
        font-family: "Lato", "Helvetica Neue", Arial;
        letter-spacing: 0.4px;
        margin-top: 15px;
        font-size: 20px;
        font-weight: 300;
        line-height: 26px; /*32px*/
      }
      @media (max-width: 767px) {
          #home2 #hero .slides .slide.firsts .info p,
          #home2 #hero .slides .slide.seconds .info p,
          #home2 #hero .slides .slide.third .info p,
          #home2 #hero .slides .slide.fourth .info p {
            font-size: 16px;
            text-align: center; } }
#home2 #hero .slides .slide.firsts .sub-text,
#home2 #hero .slides .slide.seconds .sub-text,
#home2 #hero .slides .slide.third .sub-text,
#home2 #hero .slides .slide.fourth .sub-text {
        -webkit-font-smoothing: antialiased;
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
        -o-animation-delay: 0.6s;
        -ms-animation-delay: 0.6s;
        animation-delay: 0.6s;
        margin: 0 auto;
        font-family: "Lato", "Helvetica Neue", Arial;
        line-height: 16px; /*29px;*/
        margin-top: 25px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        font-size: 24px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        width: 90%; } /*50%*/
        @media (max-width: 991px) {
          #home2 #hero .slides .slide.firsts .sub-text,
          #home2 #hero .slides .slide.seconds .sub-text,
          #home2 #hero .slides .slide.third .sub-text,
          #home2 #hero .slides .slide.fourth .sub-text,
          #home2 #hero .slides .slide.firsts .info p,
          #home2 #hero .slides .slide.seconds .info p,
          #home2 #hero .slides .slide.third .info p,
          #home2 #hero .slides .slide.fourth .info p {
            width: 70%; } }
        @media (max-width: 767px) {
          #home2 #hero .slides .slide.firsts .sub-text,
          #home2 #hero .slides .slide.seconds .sub-text,
          #home2 #hero .slides .slide.third .sub-text,
          #home2 #hero .slides .slide.fourth .sub-text {
            font-size: 17px; } }
#home2 #hero .slides .slide.firsts .bg {
  /*background-image: url("http://farm9.staticflickr.com/8482/8203794182_8004f8f636_b.jpg");*/
}
#home2 #hero .slides .slide.seconds .bg {
  /*background-image: url("http://farm9.staticflickr.com/8482/8203794182_8004f8f636_b.jpg");*/
}
#home2 #hero .slides .slide.third .bg {
/*  background-image: url("http://farm9.staticflickr.com/8482/8203794182_8004f8f636_b.jpg");*/
}
#home2 #hero .slides .slide.fourth .bg {
/*  background-image: url("http://farm9.staticflickr.com/8482/8203794182_8004f8f636_b.jpg");*/
}
#home2 #hero .slides .slide.firsts .bg,
#home2 #hero .slides .slide.seconds .bg,
#home2 #hero .slides .slide.third .bg,
#home2 #hero .slides .slide.fourth .bg {
        background-position: center 18%; }
#home2 #hero .slides .slide.firsts .bg:after,
#home2 #hero .slides .slide.seconds .bg:after,
#home2 #hero .slides .slide.third .bg:after,
#home2 #hero .slides .slide.fourth .bg:after {
          background: rgba(52, 52, 58, 0.6); }
#hero .slides .slide.firsts .info h1.hero-text,
#hero .slides .slide.seconds .info h1.hero-text,
#hero .slides .slide.third .info h1.hero-text,
#hero .slides .slide.fourth .info h1.hero-text {
        margin-top: 15px;
        font-family: "Lato", "Helvetica Neue", Arial;
        font-size: 44px;
        line-height: 42px;
        letter-spacing: 0.7px;
        font-weight: 350;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); }
        @media (max-width: 767px) {
#hero .slides .slide.firsts .info h1.hero-text
#hero .slides .slide.seconds .info h1.hero-text,
#hero .slides .slide.third .info h1.hero-text,
#hero .slides .slide.fourth .info h1.hero-text {
            margin-top: 25px;
            line-height: 32px;
            font-size: 28px;
            text-align: center; } }
      #home2 #hero .slides .slide.firsts .info .cta,
      #home2 #hero .slides .slide.seconds .info .cta,
      #home2 #hero .slides .slide.third .info .cta,
      #home2 #hero .slides .slide.fourth .info .cta {
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
        -o-animation-delay: 0.6s;
        -ms-animation-delay: 0.6s;
        animation-delay: 0.6s;
        margin-top: 30px; }
        @media (max-width: 767px) {
          #home2 #hero .slides .slide.firsts .info .cta,
          #home2 #hero .slides .slide.seconds .info .cta,
          #home2 #hero .slides .slide.third .info .cta,
          #home2 #hero .slides .slide.fourth .info .cta {
            text-align: center; } }
        #home2 #hero .slides .slide.firsts .info .cta a,
        #home2 #hero .slides .slide.seconds .info .cta a,
        #home2 #hero .slides .slide.third .info .cta a,
        #home2 #hero .slides .slide.fourth .info .cta a {
          position: relative;
          margin: 0px 30px 0 0;
          padding: 16px 25px;
          letter-spacing: 0.3px;
          font-family: "Lato", "Helvetica Neue", Arial;
          text-transform: uppercase;
          border: 2px solid rgba(255, 255, 255, 0.8);
          background: rgba(0, 0, 0, 0.4); }
          #home2 #hero .slides .slide.firsts .info .cta a:hover,
          #home2 #hero .slides .slide.seconds .info .cta a:hover,
          #home2 #hero .slides .slide.third .info .cta a:hover,
          #home2 #hero .slides .slide.fourth .info .cta a:hover {
            color: #252525;
            background: #fff;
            padding-right: 45px; }
            #home2 #hero .slides .slide.firsts .info .cta a:hover .fa,
            #home2 #hero .slides .slide.seconds .info .cta a:hover .fa,
            #home2 #hero .slides .slide.third .info .cta a:hover .fa,
            #home2 #hero .slides .slide.fourth .info .cta a:hover .fa {
              opacity: 1; }
          #home2 #hero .slides .slide.firsts .info .cta a .fa,
          #home2 #hero .slides .slide.seconds .info .cta a .fa,
          #home2 #hero .slides .slide.third .info .cta a .fa,
          #home2 #hero .slides .slide.fourth .info .cta a .fa {
            opacity: 0;
            font-size: 13px;
            position: absolute;
            color: #252525;
            top: 21px;
            right: 20px;
            -webkit-transition: all 0.15s linear;
            -moz-transition: all 0.15s linear;
            -ms-transition: all 0.15s linear;
            -o-transition: all 0.15s linear;
            transition: all 0.15s linear; }
          @media (max-width: 767px) {
            #home2 #hero .slides .slide.firsts .info .cta a,
            #home2 #hero .slides .slide.seconds .info .cta a,
            #home2 #hero .slides .slide.third .info .cta a,
            #home2 #hero .slides .slide.fourth .info .cta a {
              font-size: 14px;
              padding: 12px 25px;
              margin: 0px 15px 15px 0px; } }
      #home2 #hero .slides .slide.firsts .mobiles img,
      #home2 #hero .slides .slide.seconds .mobiles img,
      #home2 #hero .slides .slide.third .mobiles img,
      #home2 #hero .slides .slide.fourth .mobiles img {
        display: block;
        margin: 0 auto;
        width: 360px;
        -webkit-animation-duration: 1.2s;
        -moz-animation-duration: 1.2s;
        -o-animation-duration: 1.2s;
        animation-duration: 1.2s; }
div.slideitems {
        display: table;
        color: rgba(255, 255, 255, 0.94);
        font-family: "Lato", "Helvetica Neue", Arial;
        letter-spacing: 0.4px;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        font-weight: 550;
        line-height: 26px; /*32px*/
      }
      @media (max-width: 767px) {
        div.slideitems {
          font-size: 14px; }
      }
.rmargin-if-fixed {
  margin-right: -15px; }
@media (max-width: 767px) {
  #home2 #hero .slides .slide.firsts .info .cta a:hover .fa,
            #home2 #hero .slides .slide.seconds .info .cta a:hover .fa,
            #home2 #hero .slides .slide.third .info .cta a:hover .fa,
            #home2 #hero .slides .slide.fourth .info .cta a:hover .fa {
              top: 15px; } }
#cdiv-img {
  display: block;
  overflow: visible; }
#cdiv-img img {
  margin: 25px auto; }
  @media (max-width: 767px) {
  #cdiv-img img {
    min-width: 85%; } }
.navbar {
  min-width: 290px; }
#first-option .first {
  margin-top: 50px; }
#features .topic1 {
  /* padding-bottom: 70px !important; */
  margin-top: -20px !important;
  padding-top: 70px !important;
  background: #EFF6FB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18); }
#features .topic2 {
  margin-top: 0px !important;
  margin-bottom: 70px !important; }
#features .topic3 {
  padding-bottom: 0px !important;
  margin-top: -59px !important;
  margin-bottom: -29px !important;
  padding-top: 70px !important;
  background: #FAFAFA;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18); }
#first-option .less-bm {
  margin-bottom: 70px !important; }
div.div-lbt {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }
#first-option .last {
  margin-bottom: 0px !important; }
#first-option .last .image img {
  margin-left: 0px !important; }
#features #first-option {
  margin-top: 80px; }
  #features #first-option .header div.infoset {
    max-width: 991px;
    text-align: center; }
  #features #first-option .header div.infoset h2 {
    color: #3B88B6;
    font-family: "Myriad Pro", "Lato", "Helvetica Neue", Arial, san-serif; }
  #features #first-option .header div.infoset p {
    color: #6C7279; }
  @media (max-width: 991px) {
    #features #first-option .feature .image {
      margin-top: 25px; }
    #features #second-option .feature p,
    #features #second-option .feature h4 {
      text-align: center; } }
#features #first-option .feature .header {
  margin-bottom: 0px; }
#features #first-option .feature .info {
  position: relative;
  height: 300px; }
  @media (max-width: 991px) {
    #features #first-option .feature .info {
      position: relative;
      height: auto; } }
  @media (min-width: 992px) {
    #features #first-option .feature.backwards.sgas {
      margin-bottom: 0 !important; }
    #features #first-option .feature .image img {
      max-height: 300px; }
    #features #first-option .feature.backwards .info.grh {
      height: 215px; }
    #features #first-option .feature .info .info1,
    #features #first-option .feature .info .info2,
    #features #first-option .feature .info .info3,
    #features #first-option .feature .info .infoa,
    #features #first-option .feature .info .infob,
    #features #first-option .feature .info .infoc,
    #features #first-option .feature .info .infod,
    #features #first-option .feature .info .infoe {
      display: block;
      position: absolute;
      top: 50%; }
    #features #first-option .feature .info .info1 {
      height: 160px;
      margin-top: -85px; }
      #features #first-option .feature .info .info2 {
      height: 165px;
      width: 100%;  /* ul */
      margin-top: -90px; }
      #features #first-option .feature .info .info3 {
      height: 185px;
      width: 100%;  /* ul */
      margin-top: -95px; }
    #features #first-option .feature .info .infoa {
      height: 150px;
      margin-top: -75px; }
      #features #first-option .feature .info .infob {
        height: 90px;
        margin-top: -45px; }
      #features #first-option .feature .info .infoc {
        height: 90px;
        margin-top: -45px; }
      #features #first-option .feature .info .infod {
        height: 216px;
        margin-top: -118px; }
      #features #first-option .feature .info .infoe {
        height: 88px;
        margin-top: -55px; } }
#features #first-option .feature .info h4 {
  margin: 0 auto 15px auto;
  width: 80%; }
#features #first-option .feature .info p {
  margin: 0 auto 15px auto;
  width: 80%; }
#features #first-option .feature .info ul {
  margin: 0 auto 15px auto;
  width: 80%;
  display: block;
  color: #6C7279;
  font-size: 14px;
  margin-top: 15px;
  line-height: 24px;
  font-weight: normal; }
  @media (max-width: 991px) {
    #features #first-option .feature .infob p {
      margin: 0 auto 15px auto;
      width: 70%; }
      #features #first-option .feature .infoc p {
      margin: 0 auto 15px auto;
      width: 75%; }
      #features #first-option .feature .infod p {
      margin: 0 auto 15px auto;
      width: 75%; }
    #features #first-option .first {
      margin-top: 50px; }
    #features #first-option .feature .image .fixedheight {
      height: 400px; }
    #features #first-option .feature .info ul {
      display: block;
      margin-bottom: 25px;
      margin-left: auto;
      margin-right: auto; }
    #features #first-option .feature .info .ul1 {
      max-width: 380px; }
    #features #first-option .feature .info .ul2 {
      max-width: 240px; }
    #features #first-option .feature .info h4 {
      margin-top: 0; } }
#features #first-option .divider {
    margin: 50px 0px 40px !important; }
#features #second-option .feature img {
    max-height: 40px;
    max-width: 150px !important; }
#features #second-option .lastrow {
   margin-bottom: 10px; }
#features #second-option .feature {
  margin-bottom: 30px; }
  @media (max-width: 991px) {
    #features #second-option .feature img {
      display: block;
      margin: 0 auto; } }
#testimonials {
  margin-top: 40px;
  -webkit-font-smoothing: antialiased; }
  #testimonials .header {
    text-align: center; }
    #testimonials .header h3 {
      font-family: "Lato", "Helvetica Neue", Arial;
      font-size: 23px;
      color: #656565;
      line-height: 25px;
      margin-bottom: 45px; }
  #testimonials .testimonial {
    width: 90%; }
    @media (max-width: 767px) {
      #testimonials .testimonial {
        float: none !important;
        margin: 0 auto;
        margin-bottom: 45px; } }
    #testimonials .testimonial .quote {
      font-size: 15px;
      color: #3D3D3D;
      line-height: 24px;
      border: 1px solid #E2E2E2;
      padding: 12px 22px;
      border-radius: 6px;
      width: 90%;
      position: relative; }
      @media (max-width: 767px) {
        #testimonials .testimonial .quote {
          margin: 0 auto; } }
      #testimonials .testimonial .quote .arrow-down {
        position: absolute;
        bottom: 3px;
        left: 30px; }
        #testimonials .testimonial .quote .arrow-down .arrow, #testimonials .testimonial .quote .arrow-down .arrow-border {
          border-color: #fff transparent transparent;
          border-style: solid;
          border-width: 11px;
          cursor: pointer;
          position: absolute;
          top: 3px;
          z-index: 1002; }
        #testimonials .testimonial .quote .arrow-down .arrow-border {
          border-color: #E2E2E2 transparent transparent;
          border-width: 12px;
          top: 3px;
          z-index: 1001;
          left: -1px; }
    #testimonials .testimonial .author {
      margin-top: 40px;
      margin-left: 10px; }
      @media (max-width: 767px) {
        #testimonials .testimonial .author {
          margin-left: 6%; } }
      #testimonials .testimonial .author .pic {
        width: 71px;
        height: 71px;
        border-radius: 50px;
        float: left;
        position: relative;
        top: -12px;
        margin-right: 18px;
        border: 1px solid #ccc; }
      #testimonials .testimonial .author .name {
        color: #3C92C5;
        line-height: 23px;
        font-weight: 500; }
      #testimonials .testimonial .author .company {
        font-size: 14px;
        color: #909090;
        line-height: 23px;
        font-weight: 400; }
.bord2 {
  margin-top: 40px;
  border-width: 2px;
  font-size: 20px;
  background-color: #F2FCEE; }
#newform #cta,
#newform1 #cta {
  margin-top: 20px !important; }
#newform1 #cta .form-wrapper,
#newform #cta .form-wrapper {
    background: #E8E8E8 none repeat scroll 0% 0%;
    border: 0;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    border-radius: 0px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    padding: 50px;
    min-height: 150px;
    margin: 0; }
    #newform #cta .form-group {
      margin: 0 auto; }
.nopadding {
  padding-left:0;
  padding-right: 0; }
div.divider {
    height: 1px;
    width: 100%;
    background-color: #ddd;
    position: relative;
    margin: 70px 0 60px; }
    div.divider:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0.75)), color-stop(0.5, rgba(250, 250, 250, 0)), color-stop(1, rgba(255, 255, 255, 0.75)));
      background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
      background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
      background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
      background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
      background-image: linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%); }
    @media (max-width: 991px) {
      div.divider {
        margin: 55px 0 35px; } }
/* darkfooter*/
#footer-dark {
  margin-top: 70px;
  background: #fff;
  background: #5E7A9B;
  background: radial-gradient(#36414E, #253241);
  padding-top: 50px;
  padding-bottom: 30px;
  -webkit-font-smoothing: antialiased; }
  @media (max-width: 991px) {
    #footer-dark {
      padding-top: 30px; } }
  @media (max-width: 767px) {
    #footer-dark .menu {
      text-align: center;
      margin-top: 40px; } }
  #footer-dark .menu h3 {
    margin-top: 0;
    color: #888;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 600; }
  #footer-dark .menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px; }
    #footer-dark .menu ul li {
      display: block;
      margin-bottom: 9px; }
      #footer-dark .menu ul li a {
        color: #ccc;  /* #89A1C0 */
        display: inline-block;
        font-weight: 500;
        font-size: 13px;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        #footer-dark .menu ul li a:hover {
          color: #fff; /* #FFC252 */
          text-decoration: none; }
        @media (max-width: 991px) {
          #footer-dark .menu ul li a {
            padding: 0; } }
  #footer-dark .credits {
    padding-top: 38px;
    font-size: 12px; }
      @media (max-width: 750px) {
        #footer-dark .credits {
          text-align: center;
          padding-top: 10px; } }
    #footer-dark .copyright {
      color: #888; /*#A1AAB6;*/
      font-weight: 400;
      font-size: 11px; }
    #footer-dark .company {
      margin-top: 5px;
      letter-spacing: 120%;
      color: #888; /*#89A1C0;*/ }
    #footer-dark .mleft {
      padding-left: 0; }
.navbar-fixed-top {
    margin-bottom: 70px; }
.lefties {
  text-align: left; }
#tabs {
  margin-top: 100px; }

#home4 #mobile {
  -webkit-font-smoothing: antialiased;
  background: #F7F8FB;
  border: 1px solid #EAEDF7;
  box-shadow: inset rgba(100, 100, 100, 0.25) 0 1px 1px;
  margin-top: 60px; }
  @media (min-width: 992px) {
    #home4 #mobile .container {
      width: 870px; }
    #home4 #mobile .info2 {
      margin-top: 50px;
      text-align: left; }
    #home4 #mobile .info2 h3 {
      color: #444; } }
  #home4 #mobile .device {
    margin: 15px 0px 0px 0px;
    position: relative;
    top: 2px; }
  @media (max-width: 974px) {
    #home4 #mobile .info2 {
      margin-top: 30px;
      text-align: left; }
    #home4 #mobile .info2 h3 {
      font-size: 20px; } }
    @media (max-width: 767px) {
      #home4 #mobile .info2 {
        margin: 25px 35px 35px 35px;
        text-align: center; } }
    #home4 #mobile .info2 h3 {
      font-weight: 400;
      color: #444; }
    #home4 #mobile .info2 p {
      margin-top: 20px;
      color: #666;
      line-height: 21px; }
  @media (max-width: 765px) {
    .col-sm-6 .info2 {
      display: table;
      margin-left: auto;
      margin-right: auto; } }
  @media (max-width: 640px) {
    .col-sm-6 .info2 {
      display: table;
      margin-left: auto;
      margin-right: auto; } }
  @media (max-width: 768px) {
     .gpbutton img {
       display: none; } }
.btn-grp {
  position: relative;
  display: block;
  width: 100%;
  text-align: center; } /* IE8+ fallback */
.center-obj { /* IE8+ */
  display: table;
  margin: 0 auto; }
.extra-height {
  padding-top: 30px; }
#docs #guide {
  background: #F4F8FA;
  border-right: 1px solid #DADFE5;
  left: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  width: 220px;
  z-index: 25;
  height: 100%;
  padding-bottom: 40px;
  margin-top: 70px; }
  #docs #guide h1 {
    margin-top: 0;
    font-size: 29px; }
    #docs #guide h1 {
      color: #000;
      font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
      padding: 20px 0 15px 23px;
      display: block;
      border-bottom: 1px solid #D6DCE0;
      box-shadow: 0px 1px #FFF;
      -webkit-transition: color 0.15s linear;
      -moz-transition: color 0.15s linear;
      -ms-transition: color 0.15s linear;
      -o-transition: color 0.15s linear;
      transition: color 0.15s linear; }
  @media (max-width: 768px) {
    #docs #guide {
      width: 200px; }
    #docs #guide h1 {
      font-size: 24px; } }
  #docs #guide .menu > li.active > .nav {
    display: block; }
  #docs #guide .menu > li.active > a {
    background: #DEEAF1; }
  #docs #guide .menu > li a {
    color: #3391C9;
    font-weight: 500;
    font-size: 13px;
    padding: 10px 15px 10px 25px;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear; }
    #docs #guide .menu > li a:hover {
      background: #DEEAF1; }
  #docs #guide .menu > li > .nav {
    margin-bottom: 7px;
    display: none; }
    #docs #guide .menu > li > .nav li a {
      font-weight: 400;
      color: #48A0D6;
      padding: 6px 15px 5px 35px; }
#docs #topics {
  background: #FFF;
  margin-left: 220px;
  min-width: 750px; }
  @media (max-width: 974px) {
    #docs #topics {
      min-width: 400px;
      margin-left: 200px; } }
  @media (max-width: 768px) {
    #docs #topics {
      min-width: 400px;
      margin-left: 200px; } }
  #docs #topics .header {
      border-top: 1px solid #E6E6E8;
      padding-top: 55px;
      text-align: center; }
       #docs #topics .header h3 {
        font-size: 34px;
        font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
        color: #555C68;
        line-height: 25px;
        font-weight: 600;
        margin-bottom: 13px; }
  #docs #topics #methods {
    margin-left: 0px;
    display: block;
    position: relative;
    /*margin-top: 70px;*/ }
  #docs #topics #methods .method .method-section .desc {
        position: relative;
        width: 100%;
        float: left;
        padding: 0 20px;
        border-top: 1px solid #E5E7EB;
        padding-top: 40px;
        margin-top: 0px; }
    #docs #topics #methods .method .method-section {
      position: relative;
      padding-top: 40px; }
    #docs #topics #methods .method:first-child .method-section .desc {
      margin-top: 0px;
      border-top: 0;
      padding-top: 70px; }
        #docs #topics #methods .method .method-section .desc h3 {
          font-size: 21px;
          margin-top: 0;
          margin-bottom: 20px; }
        #docs #topics #methods .method .method-section .desc p {
          font-size: 14px;
          color: #666;
          line-height: 21px;
          margin-bottom: 10px; }
        #docs #topics #methods .method .method-section .desc ul {
          font-size: 14px;
          color: #666; }
        #docs #topics #methods .method .method-section .desc ul li {
          margin-bottom: 10px;
        }
        #docs #topics #methods .method .method-section div.infopanel {
          font-size: 15px;
          color: #575757;
        }
        #docs #topics #methods .method .method-section div.infopanel a {
          font-size: 13px;
        }
#docs #toupolicy {
  background: #FFF;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px; }
  @media (max-width: 974px) {
    #docs #toupolicy {
      min-width: 480px; } }
  @media (max-width: 768px) {
    #docs #toupolicy {
      min-width: 320px; } }
  #docs #toupolicy #methods {
    margin-left: 0px;
    display: block;
    position: relative; }
  #docs #toupolicy #methods .method .method-section .desc {
        position: relative;
        width: 100%;
        float: left;
        padding: 0 20px;
        border-top: 1px solid #E5E7EB;
        padding-top: 40px;
        margin-top: 0px; }
    #docs #toupolicy #methods .method .method-section {
      position: relative;
      padding-top: 40px; }
    #docs #toupolicy #methods .method:first-child .method-section .desc {
      margin-top: 0px;
      border-top: 0;
      padding-top: 70px; }
      #docs #toupolicy #methods .method .method-section .desc iframe {
        overflow-x: hidden;
        overflow-y: hidden; }
      #docs #toupolicy #methods .method .method-section .desc h2 {
        margin-top: 0;
        color: #666;
        margin-bottom: 30px;
        font-weight: 600;
        font-size: 34px; }
        @media (max-width: 768px) {
          #docs #toupolicy #methods .method .method-section .desc h2 {
            font-size: 28px; } }
        #docs #toupolicy #methods .method .method-section .desc h3 {
          font-size: 21px;
          color: #666;
          margin-top: 0;
          margin-bottom: 20px; }
        #docs #toupolicy #methods .method .method-section .desc h4 {
          font-size: 18px;
          color: #666;
          margin-top: 30px;
          margin-bottom: 20px;
          text-decoration: underline dotted; }
        #docs #toupolicy #methods .method .method-section .desc p {
          font-size: 14px;
          color: #666;
          line-height: 21px;
          margin-bottom: 10px; }
        #docs #toupolicy #methods .method .method-section .desc ol,
        #docs #toupolicy #methods .method .method-section .desc ul {
          font-size: 14px;
          color: #666;
          margin-bottom: 10px; }
        #docs #toupolicy #methods .method .method-section .desc ol li,
        #docs #toupolicy #methods .method .method-section .desc ul li {
          margin: 8px 0; }
          .method .method-section .desc ul.indent {
            margin-left: 15px;
            margin-top: -3px; }
        #docs #toupolicy #methods .method .method-section div.infopanel {
          font-size: 15px;
          color: #575757; }
        #docs #toupolicy #methods .method .method-section div.infopanel a {
          font-size: 13px; }
/* for docs */
#footer2 {
  max-width: 100%;
  width: 100%;
  height: 90px; /* 70 */
  background: #414B5B;
  margin-top: 0px; /* 40 */
  padding: 30px;
  min-width: 750px;
  -webkit-font-smoothing: antialiased; }
  #footer2 .copyright {
    margin-top: -2px;}
  #footer2 .copyright a {
    color: #ccc;
    font-size: 12px;
    font-weight: 500; }
  #footer2 .copyright a:hover {
    text-decoration: none;
    color: #fff; } /* #FFCA09 */
    @media (max-width: 767px) {
      #footer2 {
        height: 140px; }
      #footer2 .copyright {
        text-align: center;
        margin-top: 15px; } }
  @media (max-width: 767px) {
    #footer2 .menu {
      text-align: center;
      margin-top: 0px; } }
  #footer2 .menu ul {
    list-style-type: none;
    padding: 0;
    font-size: 12px;
    margin-bottom: 0; }
    #footer2 .menu ul li {
      display: inline-block; }
      #footer2 .menu ul li.active a {
        color: #fff; }
      #footer2 .menu ul li a {
        color: #ccc;
        padding: 15px 18px;
        font-weight: 500;
        -webkit-transition: color 0.2s linear;
        -moz-transition: color 0.2s linear;
        -ms-transition: color 0.2s linear;
        -o-transition: color 0.2s linear;
        transition: color 0.2s linear; }
        #footer2 .menu ul li a:hover {
          color: #fff;
          text-decoration: none; }
        @media (max-width: 991px) {
          #footer2 .menu ul li a {
            padding: 15px 18px 15px 0px; } }
/* standard footer */
#footer3 {
  position: relative;
  height: 90px;/* 75px; */
  background: #414B5B;
  padding-top: 30px;
  padding-bottom: 25px;
  -webkit-font-smoothing: antialiased; }
  .footer3tm {
    margin-top: 80px; }
  #footer3 .copyright {
    text-align: right; }
  #footer3 .copyright a {
    color: #ccc;
    font-size: 12px;
    font-weight: 500;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear; }
    #footer3 .copyright a:hover {
      text-decoration: none;
      color: #fff; } /* #FFCA09 */
    @media (max-width: 991px) {
      #faq #question #tabs .tab-content {
        margin-bottom: 30px; }
      #index5 .collapse {
        margin-bottom: 30px; }
      #footer3 .copyright {
        margin-bottom: 0px; }
        #footer3 .col-sm-1, #footer3 .col-sm-8 {
          background: #414B5B; } }
    @media (max-width: 767px) {
      #faq #question #tabs .tab-content {
        margin-bottom: 40px; }
      #footer3 .copyright, #footer3 .col-sm-1,
        #footer3 .col-sm-8 {
        text-align: center;
        background: #414B5B !important; }
      #footer3 .copyright {
        padding-bottom: 20px; } }
      #index5 .collapse {
        margin-bottom: 30px; }
  @media (max-width: 767px) {
    #footer3 .menu {
      height: auto;
      line-height: 32px;
      text-align: center;
      margin-top: 10px; } }
  #footer3 .menu ul {
    list-style-type: none;
    font-size: 12px;
    margin-bottom: 0;
    padding: 0; }
    #footer3 .menu ul li {
      display: inline-block; }
      #footer3 .menu ul li.active a {
        font-weight: 600;
        color: #fff; }
      #footer3 .menu ul li a {
        color: #ccc;
        padding: 15px 18px;
        font-weight: 500;
        -webkit-transition: color 0.2s linear;
        -moz-transition: color 0.2s linear;
        -ms-transition: color 0.2s linear;
        -o-transition: color 0.2s linear;
        transition: color 0.2s linear; }
        #footer3 .menu ul li a:hover {
          color: #fff;
          text-decoration: none; }
        @media (max-width: 991px) {
          #footer3 .menu ul li a {
            padding: 15px 18px 15px 0px; } }

#about-us #slider {
  margin-top: 25px;
  -webkit-font-smoothing: antialiased; }
  #about-us #slider .flexslider {
    position: relative;
    margin-top: 30px;
    box-shadow: none;
    border-radius: 0px; }
  #about-us #slider .flexslider .slides {
    overflow: hidden;
    max-height: 400px;
    vertical-align: bottom; }
    #about-us #slider .flexslider .slides img {
      margin: 0 auto;
      width: auto; }
    #about-us #slider .flexslider .slides li:nth-child(1) img {
      padding-top: 0; }
    #about-us #slider .flexslider .slides li:nth-child(2) img {
      padding-top: 35px; }
    #about-us #slider .flexslider .slides li:nth-child(3) img {
      padding-top: 87px; }
    #about-us #slider .flexslider .flex-next,
    #about-us #slider .flexslider .flex-prev {
       height: 45px;
       top: 50%;
       color: #40AB2D;
       text-decoration: none; }
#about-us #info {
  -webkit-font-smoothing: antialiased; }
  #about-us #info .topm {
    margin-top: 75px; }
  .top40 { margin-top: 40px; }
  #about-us #info .endblock a { font-size: 18px; }
    #about-us #info h2,
    #about-us #info h4,
    #about-us #info h5 {
      font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
      line-height: 25px; }
    #about-us #info h4,
    #about-us #info h5 {
      font-size: 24px;
      color: #666; }
    #about-us #info h2 {
      font-size: 34px;
      color: #444;
      font-weight: 600;
      margin-bottom: 7px; }
    #about-us #info h4 {
      margin-top: 30px;
      margin-bottom: 20px; }
  #about-us #info h5 {
    font-weight: 500;
    margin-bottom: 25px;
    margin-top: 30px; }
  #about-us #info p {
    color: #666;
    line-height: 23px;
    margin-bottom: 15px; }
  #about-us #info b.bluish {
    color: #3B88B6; }
    @media (min-width: 992px) {
      #about-us #info h2,
      #about-us #info h4,
      #about-us #info h5,
      #about-us #info p {
        margin-left: auto;
        margin-right: auto;
        width: 88%; } }
  #about-us #info .stats {
    margin-top: 60px;
    font-size: 15px;
    color: #757575; }
    #about-us #info .stats strong {
      font-size: 24px;
      color: #656565;
      font-weight: 500;
      position: relative;
      top: 1px;
      margin-right: 5px; }
    #about-us #info .stats .col-sm-3 {
      border-bottom: 1px solid #efefef;
      padding-bottom: 25px; }
      @media (max-width: 767px) {
        #about-us #info .stats .col-sm-3 {
          padding-bottom: 10px;
          margin-bottom: 20px; } }
  #about-us #info .team {
    margin-top: 55px;
    -webkit-font-smoothing: auto; }
    #about-us #info .team .team-row {
      text-align: center;
      margin-bottom: 35px; }
    #about-us #info .team img {
      margin: 0px 70px;
      max-width: 130px;
      border-radius: 10px;
      position: relative;
      top: 0px;
      box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.4);
      -webkit-transition: top 0.15s linear;
      -moz-transition: top 0.15s linear;
      -ms-transition: top 0.15s linear;
      -o-transition: top 0.15s linear;
      transition: top 0.15s linear; }
      @media (max-width: 991px) {
        #about-us #info .team img {
          margin: 0px 50px 20px 50px; } }
      @media (max-width: 500px) {
        #about-us #info .team img {
          margin: 20px 30px 50px 30px; } }
      #about-us #info .team img:hover {
        top: -5px;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.5); }
    #about-us #info .team .tooltip {
      -webkit-animation: fadeInTooltip 0.05s linear;
      -moz-animation: fadeInTooltip 0.05s linear;
      -o-animation: fadeInTooltip 0.05s linear;
      -ms-animation: fadeInTooltip 0.05s linear;
      animation: fadeInTooltip 0.05s linear;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -o-animation-fill-mode: both;
      animation-fill-mode: both; }
    #about-us #info .team .tooltip-inner {
      padding: 12px 18px;
      font-size: 13px;
      background: rgba(33, 54, 63, 0.9);
      /* box-shadow: inset 0px 1px 3px -1px rgba(73, 125, 49, 0.86); */
      border: 1px solid #1A2B32;
      border-bottom: 0px; }
    #about-us #info .team .tooltip-arrow {
      border-top-color: rgba(33, 54, 63, 0.9); }
#about-us #cta {
  margin-top: 100px; }
  @media (max-width: 991px) {
    #about-us #cta {
      margin-top: 60px; } }
  #about-us #cta .wrapper {
    background: #F7F8FB;
    border: 1px solid #EAEDF7;
    border-radius: 8px;
    padding: 30px 60px;
    box-shadow: inset rgba(100, 100, 100, 0.25) 0 1px 1px;
    margin: 0 auto; }
    @media (max-width: 991px) {
      #about-us #cta .wrapper {
        text-align: center; } }
  #about-us #cta h4 {
    font-size: 18px;
    line-height: 22px;
    color: #5F6E7C;
    font-weight: 400;
    float: left;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8); }
    @media (max-width: 991px) {
      #about-us #cta h4 {
        float: none; } }
  #about-us #cta .button {
    float: right; }
    @media (max-width: 991px) {
      #about-us #cta .button {
        float: none;
        margin-top: 20px; } }
#textgrid {
    padding-top: 30px; }
     #textgrid .header {
      border-top: 1px solid #E6E6E8;
      padding-top: 55px;
      text-align: center; }
       #textgrid .header h3 {
        font-size: 34px;
        font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
        color: #555C68;
        line-height: 25px;
        font-weight: 600;
        margin-bottom: 13px; }
     #textgrid .sections {
      margin-top: 40px; }
       #textgrid .sections .section {
        text-align: center; }
        @media (max-width: 991px) {
           #textgrid .sections .section {
            margin-bottom: 40px; } }
         #textgrid .sections .section .info {
          display: inline-block;
          padding: 20px;
          background: #f5f5f5;
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.45), inset 0px 0px 1px 1px #fff; }
         #textgrid .sections .section .info {
          text-align: left; }
          @media (min-width: 992px) {
             #textgrid .sections .section .info {
              width: 80%;
              text-align: left; } }
           #textgrid .sections .section .info strong a {
            font-weight: 500;
            font-size: 22px;
            color: #256A93; }
           #textgrid .sections .section .info .addr {
            color: #666;
            font-size: 15px;
            margin-top: 12px;
            line-height: 24px; }
.footerwrap {
  display: block;
  min-height: 100%;
  margin-bottom: -90px; }
html.sticky, body.sticky {
  height: 100%;
  overflow: auto; }
.stickycu {
  margin-top: 0px; }
.wrapbm {
  margin-bottom: 50px; }
#support #header {
    margin-top: 40px;
    background: #F5F5F5;
    border-bottom: 1px solid #CFCFCF;
    padding: 50px 0px; }
    #support #header p {
      font-size: 15px; }
    @media (max-width: 767px) {
      #support #header {
        padding: 30px 0px;
        text-align: center; } }
  #support h2, #support h3, #support #browse h4 {
      font-size: 26px;
      font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
      color: #596166;
      line-height: 25px;
      font-weight: 600;
      margin-bottom: 20px; }
    #support h2 {
      font-size: 32px;  }
    #support h3, #support #browse h4 {
      font-size: 24px;  }
    #support #header h3 {
      margin-bottom: -10px; }
    #support p {
      font-size: 15px;
      font-weight: 400;
      color: #666;
      margin-top: 12px;
      line-height: 24px; }
    #support #browse .topic {
      margin-bottom: 20px; }
#gallery #showcase .header h3 a {
  text-decoration: none;
  color: #596166;
  padding-top: 90px; }
#gallery #showcase .pic .layer p {
    text-align: center;
    padding: 0 20px; }
.alert-info {
  background-image: linear-gradient(to bottom, #D9EDF7 0px, #B9DEF0 100%);
  background-repeat: repeat-x;
  border-color: #9ACFEA; }
.alert-warning {
    background-image: linear-gradient(to bottom, #fcf8e3 0px, #FAF2CC 100%);
    background-repeat: repeat-x;
    border-color: #F4D18B; }
.alert-note {
    color: #348F8E;
    background-image: linear-gradient(to bottom, #D6FAFA 0px, #BBF7F7 100%);
    background-repeat: repeat-x;
    border-color: #4BDDDD }
.alert-faq {
  max-width: 560px; }
.alert {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
  padding: 15px; }
  .alert a:hover {
    text-decoration: none;
    color: #108429 }
  .alert-nobm {
    margin-bottom: 0px; }
  .alert-topm {
    margin-top: 20px; }
#gallery #showcase .video-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear; }
    #gallery #showcase .video-modal.active {
      opacity: 1;
      filter: alpha(opacity=100);
      visibility: visible;
      background: rgba(229, 230, 231, 0.5); }
      #gallery #showcase .video-modal.active .wrap {
        -moz-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
        filter: alpha(opacity=100); }
    #gallery #showcase .video-modal .wrap {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      padding: 5px;
      background: rgba(255, 255, 255, 0.65);
      border-radius: 5px;
      width: 630px;
      height: 360px;
      -moz-transform: scale3d(0.3, 0.3, 0.3);
      -o-transform: scale3d(0.3, 0.3, 0.3);
      -ms-transform: scale3d(0.3, 0.3, 0.3);
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out; }
#faq #question {
  padding-top: 90px;
  -webkit-font-smoothing: antialiased; }
  #faq #question i.normal {
    font-weight: 400;
    color: #666; }
  #faq #question p, #faq #question ul,
  #faq #question ol {
    color: #666; }
  #faq #question p:last-child {
    margin-bottom: 0; }
  #faq #question p code {
    font-size: 14px; }
  #faq #question p.figcaption {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    margin-top: 12px; }
  #faq #question ol {
    margin: 0; }
  #faq #question ol li, #faq #question ul li {
    line-height: 20px;
    margin: 8px 0; }
  #faq #question ol li:first-child {
    margin-top: 0; }
  #faq #question ol li:last-child, #faq #question ul li:last-child {
    margin-bottom: 0; }
  #faq #question ol li code, #faq #question ul li code,
  #faq #question ol code {
    font-size: 14px; }
  #faq #question a code {
    font-size: 17px; }
  #faq #question .header {
    text-align: left;
    margin-bottom: 40px; }
    #faq #question .topicgroup, #faq #question .header h2 {
      font-size: 36px;
      font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
      color: #596166;
      line-height: 25px;
      font-weight: 600;
      margin-bottom: 20px; }
    #faq #question .topicgroup {
      font-size: 24px; }
    #faq #question .header p {
      font-size: 16px;
      font-weight: 400;
      color: #666;
      margin-top: 12px;
      line-height: 24px; }
    #faq #question .faq a {
      font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
      color: #596166;
      font-size: 18px;
      margin: 0;
      font-weight: 600;
      color: #303030;
      text-decoration: none; }
    #faq #question .faq a {
      display: block;
      padding: 10px 15px;
      margin: -10px -15px; }
#faq #question #tabs {
  margin-top: 0px;
  margin-bottom: 30px;
  -webkit-font-smoothing: antialiased; }
  @media (max-width: 991px) {
    #faq #question #tabs {
      margin-bottom: 20px; } }
  #faq #question #tabs .tabs-wrapper {
    margin-top: 0px;
    margin-bottom: 40px; }
    #faq #question #tabs .tabs-wrapper .nav-tabs {
      text-align: center;
      border-bottom: 2px solid #EDEDED; }
      #faq #question #tabs .tabs-wrapper .nav-tabs li {
        float: none;
        margin-bottom: 0px;
        display: inline-block; }
        #faq #question #tabs .tabs-wrapper .nav-tabs li.active a {
          color: #2B69A2;
          font-weight: 400;
          border-bottom: 0px; }
          #faq #question #tabs .tabs-wrapper .nav-tabs li.active a:after {
            content: '';
            position: absolute;
            width: 100%;
            height: auto;
            border-bottom: 2px solid #7BA3C9;
            left: 1px;
            bottom: -1px; }
        #faq #question #tabs .tabs-wrapper .nav-tabs li a {
          color: #888;
          font-weight: 400;
          border: 0px;
          padding: 10px 20px;
          font-size: 15px;
          -webkit-transition: color 0.25s linear;
          -moz-transition: color 0.25s linear;
          -ms-transition: color 0.25s linear;
          -o-transition: color 0.25s linear;
          transition: color 0.25s linear; }
          #faq #question #tabs .tabs-wrapper .nav-tabs li a:hover {
            color: #2B69A2;
            background: none; }
    #faq #question #tabs .tabs-wrapper .tab-content {
      margin-top: 60px;
      margin-bottom: 50px; }
#features #newform #cta h4 {
  color: #666;
  line-height: 22px; }
.pwidth {
  max-width: 800px; }
.panel-default { border-color: #CFCFCF;
  /* padding: 1px; */
  overflow: hidden; }
.panel-default > .panel-head-dom {
    background-color: #f5f5f5;
    border-color: #CFCFCF;
    /* background-clip: padding-box; */ }
.panel-default>.panel-head-dom+.panel-collapse>.panel-body {
    border-bottom-color: #CFCFCF; }
.panel {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07); }
.iconmd {
  font-size: 20px; }
.imgfigs {
  margin-top: 12px;
  margin-bottom: 12px; }
.btnface {
  font-size: 12px;
  padding: 4px 8px 4px 8px;
  margin: 0 3px 0 3px;
  border-radius: 3px;
  color: #3B3B3B;
  border: 1px solid #ABB0B5 }
 .btnface.gray {
  background-color: #F5F5F5; }
 .btnface.def {
  color: #fff;
  border: 1px solid #323F6B;
  background-color: #3572B0; }
 .btnface.bold {
  font-weight: 600; }
.img-thumbnail-bbb {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
    transition: all 0.2s ease-in-out 0s; }
