#features #slider {
  margin-top: 0px; }
  #features #slider .slide-wrapper {
    /* border-bottom: 1px solid #E4E4E4; */
    border-bottom: 0px;
    max-width: 520px; }
    @media (max-width: 991px) {
      #features #slider {
        margin-top: 10px; }
      #features #slider .slide-wrapper {
        display: block;
        margin: 0 auto;
        margin-top: -10px; } }
    #features #slider .slide-wrapper .slideshow {
      background: url("../../images/") 0 0 no-repeat;
      margin: 0 auto;
      margin-top: 0px;
      width: 520px;
      height: 300px;
      position: relative;
      overflow: hidden; }
      @media (max-width: 991px) {
        #features #slider .slide-wrapper .slideshow {
          background: none;
          width: inherit;
          height: 300px; } }
      @media (max-width: 620px) {
        #features #slider .slide-wrapper .slideshow {
          height: 290px; } }
      @media (max-width: 530px) {
        #features #slider .slide-wrapper .slideshow {
          height: 240px; } }
      @media (max-width: 450px) {
        #features #slider .slide-wrapper .slideshow {
          height: 205px; } }
      #features #slider .slide-wrapper .slideshow .btn-nav {
        width: 48px;
        height: 51px;
        position: absolute;
        top: 45%;
        z-index: 999;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease; }
        #features #slider .slide-wrapper .slideshow .btn-nav.active {
          opacity: 1;
          filter: alpha(opacity=100);
          -moz-transform: translateX(0px) !important;
          -o-transform: translateX(0px) !important;
          -ms-transform: translateX(0px) !important;
          -webkit-transform: translateX(0px) !important;
          transform: translateX(0px) !important; }
        #features #slider .slide-wrapper .slideshow .btn-nav.prev {
          background: url("../../images/slider/slide-left.png") 0 0 no-repeat;
          left: 41px;
          -moz-transform: translateX(-48px);
          -o-transform: translateX(-48px);
          -ms-transform: translateX(-48px);
          -webkit-transform: translateX(-48px);
          transform: translateX(-48px); }
          @media (max-width: 991px) {
            #features #slider .slide-wrapper .slideshow .btn-nav.prev {
              left: 30px; } }
        #features #slider .slide-wrapper .slideshow .btn-nav.next {
          background: url("../../images/slider/slide-right.png") 0 0 no-repeat;
          right: 41px;
          -moz-transform: translateX(48px);
          -o-transform: translateX(48px);
          -ms-transform: translateX(48px);
          -webkit-transform: translateX(48px);
          transform: translateX(48px); }
          @media (max-width: 991px) {
            #features #slider .slide-wrapper .slideshow .btn-nav.next {
              right: 29px; } }
      #features #slider .slide-wrapper .slideshow .slide {
        width: 100%;
        height: 100%;
        position: absolute; }
        #features #slider .slide-wrapper .slideshow .slide.active img {
          opacity: 1;
          filter: alpha(opacity=100);
          -moz-transform: translateY(0px);
          -o-transform: translateY(0px);
          -ms-transform: translateY(0px);
          -webkit-transform: translateY(0px);
          transform: translateY(0px); }
        #features #slider .slide-wrapper .slideshow .slide:nth-child(3) img,
        #features #slider .slide-wrapper .slideshow .slide:nth-child(4) img {
            padding: 5px 10px 35px 2px; }
        #features #slider .slide-wrapper .slideshow .slide:nth-child(5) img {
            padding: 5px 10px 28px 2px; }
          #features #slider .slide-wrapper .slideshow .slide:nth-child(6) img {
            padding: 5px 10px 12px 2px; }  /* 4 */
          #features #slider .slide-wrapper .slideshow .slide:nth-child(7) img {
            padding: 5px 10px 15px 2px; }
          #features #slider .slide-wrapper .slideshow .slide:nth-child(8) img {
            padding: 5px 10px 20px 2px; }
        #features #slider .slide-wrapper .slideshow .slide img {
          /* padding: 5px 10px 15px 2px; */
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          -moz-transform: translateY(300px);
          -o-transform: translateY(300px);
          -ms-transform: translateY(300px);
          -webkit-transform: translateY(300px);
          transform: translateY(300px);
          opacity: 0;
          -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
          filter: alpha(opacity=0);
          -webkit-transition: all .6s ease;
          -moz-transition: all .6s ease;
          -o-transition: all .6s ease;
          -ms-transition: all .6s ease;
          transition: all .6s ease; }
          @media (max-width: 767px) {
            #features #slider .slide-wrapper .slideshow .slide img {
              width: 100%; } }