#overview #layer2 {
  padding-top: 70px;
  -webkit-font-smoothing: antialiased; }
  #overview #layer2 .header {
      padding-top: 15px; }
      #overview #layer2 .header h3 {
        font-size: 34px;
        font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
        color: #555C68;
        line-height: 32px;
        font-weight: 600;
        margin-bottom: 40px; }
      @media (max-width: 768px) {
        #overview #layer2 .header h3 {
        font-size: 28px;
        line-height: 26px;
        margin-bottom: 30px; } }
  #overview #layer2 .info h4 {
    font-size: 24px;
    font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
    color: #666;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 30px; }
  #overview #layer2 .desc p,
  #overview #layer2 .info p {
    color: #666;
    line-height: 20px; }
  #overview #layer2 .desc ul {
    margin-top: -5px;
    margin-bottom: 12px; }
  #overview #layer2 .desc ul li {
    margin: 8px 0;
    line-height: 22px; }
  #overview #layer2 .image {
    position: relative;
    width: 100%; }
  @media (min-width: 976px) {
    #overview #layer2 .image {
      margin-top: 25px;
      padding-bottom: 30px;
      vertical-align: middle; } }
    @media (max-width: 975px) {
      #overview #layer2 .image {
        padding-top: 30px;
        padding-bottom: 40px; } }
  #overview #layer2 .odd,
  #overview #layer2 .top,
  #overview #layer2 .even {
    padding-top: 30px;
    padding-bottom: 30px;  }
  #overview #layer2 .odd {
    border-top: 1px solid #CAE3F7;
    /* background: #E5F1FB; */
    background: transparent -moz-linear-gradient(center top , #E5F1FB, #FFF 45px) repeat scroll 0% 0%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E5F1FB), color-stop(45px,#ffffff));
    background: -webkit-linear-gradient(top, #E5F1FB 0%,#ffffff 45px);
    background: -o-linear-gradient(top, #E5F1FB 0%,#ffffff 45px);
    background: -ms-linear-gradient(top, #E5F1FB 0%,#ffffff 45px);
    background: linear-gradient(to bottom, #E5F1FB 0%,#ffffff 45px);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='##E5F1FB',endColorstr='#ffffff',GradientType=0); }
  #overview #layer2 .even {
    border-top: 1px solid #CCC;
    /* background: #f1f1f2; */
    background: transparent -moz-linear-gradient(center top , #F1F1F2, #FFF 45px) repeat scroll 0% 0%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f2), color-stop(45px,#ffffff));
    background: -webkit-linear-gradient(top, #f1f1f2 0%,#ffffff 45px);
    background: -o-linear-gradient(top, #f1f1f2 0%,#ffffff 45px);
    background: -ms-linear-gradient(top, #f1f1f2 0%,#ffffff 45px);
    background: linear-gradient(to bottom, #f1f1f2 0%,#ffffff 45px);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f2',endColorstr='#ffffff',GradientType=0 ); }
a.mls {
  cursor: pointer; }
code.fontup {
  font-size: 14px; }

#overview #layer2 #flexrect {
  margin-top: -15px;
  -webkit-font-smoothing: antialiased; }
  #overview #layer2 #flexrect .flexslider {
    position: relative;
    margin-top: 20px;
    box-shadow: none;
    border-radius: 0px; }
   #overview #layer2 #flexrect .flexslider .slides .flex-caption {
      position: absolute;
      display: block;
      width: 100%;
      padding: 2%;
      left: 0px;
      bottom: 0px;
      background: rgba(122, 122, 122, 0.85);
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0,0,0,.3);
      font-size: 14px;
      line-height: 18px;
      z-index: 14; }
    #overview #layer2 .image img {
        display: block; }
    @media (max-width: 977px) {
      #overview #layer2 .image img {
        margin: 0 auto !important; } }
      @media (min-width: 978px) {
        #overview #layer2 .image img {
          margin: 0 auto !important; }
        #overview #layer2 #flexrect .flexslider .slides {
          } }
     #overview #layer2 #flexrect .flexslider .flex-next,
     #overview #layer2 #flexrect .flexslider .flex-prev {
       height: 45px;
       top: 50%;
       color: #40AB2D;
       text-decoration: none; }
     #overview #layer2 #flexrect .flexslider .slides {
       overflow: hidden;
       max-height: 400px;
       max-width: 770px; }
     #overview #layer2 #flexrect .flexslider .slides img {
        vertical-align: bottom;
        margin-left: auto;
        margin-right: auto; }
     #overview #layer2 #flexrect .flexslider .flex-control-paging {
       bottom: -35px; }
      #overview #layer2 #flexrect .flexslider .flex-control-paging li {
        margin: 0 7px; }
        #overview #layer2 #flexrect .flexslider .flex-control-paging li a {
          background: #e6e6e6;
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
          -webkit-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          -ms-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          transition: all 0.2s linear; }
          #overview #layer2 #flexrect .flexslider .flex-control-paging li a.flex-active {
            background: #3785b9; }